<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit image
  </title>
  <link rel="shortcut icon" href="/icons/photos.svg" type="image/x-icon">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <% if (user) {%>
    <header class="header-bar">
      <a href="/">
        <h1>IMG.allery</h1>
      </a>
      <div class="navigation">
        <nav class="selector">
          <ul>
            <li><a href="/">Public</a></li>
            <li><a href="/gallery">Private</a></li>
          </ul>
        </nav>
        <details>
          <summary>
            <img src="/icons/acount.svg" class="icon" width="20">
            <%= user.name %>
          </summary>
          <ul class="menu">
            <li><a href="/log-out">Log-out</a></li>
          </ul>
        </details>
      </div>
    </header>
    <% } else { %>
      <header class="header-bar">
        <a href="/">
          <h1>Gallery</h1>
        </a>
        <nav>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign-in</a></li>
          </ul>
        </nav>
      </header>
      <% } %>
        <main>
          <form method="post">
            <h2>Edit Image</h2>
            <img src="<%= image.preview %>">
            <input type="text" name="title" value="<%= image.name %>" autofocus>
            <div class="btn-container">
              <button type="submit">Edit</button>
              <a class="back-btn a-button" href="/collection/<%= image.collectionId %>">Cancel</a>
              <a class="del-btn a-button" href="/image/<%= image.id %>/delete">Delete</a>
            </div>
          </form>

        </main>
</body>

</html>